src/main/resources/nl/clockwork/mule/ebms/stub/ef/xsd/Afleveren_ebMS_2.0_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://logius.nl/digipoort/ebms/2.0/afleverservice/1.0/"
			targetNamespace="http://logius.nl/digipoort/ebms/2.0/afleverservice/1.0/"
			elementFormDefault="qualified">

			<xsd:element name="afleverBericht">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="berichtkenmerk" type="tns:berichtkenmerkType" nillable="false"/>
						<xsd:element name="kenmerk" nillable="false" type="tns:kenmerkType" />
						<xsd:element name="aanleverkenmerk" nillable="false" type="tns:aanleverkenmerkType" />
						<xsd:element name="berichtsoort" nillable="false" type="tns:berichtsoortType" />
						<xsd:element name="bedrijfsnummer" nillable="false" type="tns:identificatieNummer" />						
						<xsd:element name="tijdstempelOntvangst" nillable="false" type="xsd:dateTime"/>
						<xsd:element name="berichtinhoud" nillable="false" type="tns:berichtinhoudType" />
						<xsd:element name="berichtbijlagen" nillable="false" type="tns:bijlagenType" minOccurs="0"/>
						<xsd:element name="foutLijst" nillable="false" type="tns:foutLijstType" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


			<!-- 
				lijst van ondersteunde types 
			-->
			<xsd:simpleType name="berichtkenmerkType">
				<xsd:annotation>
					<xsd:documentation>
								Element: berichtkenmerkType
								Type: Tekst
								Maximale lengte:
								256
		
								Normalisatie:
								Mag geen enters (#xD of #xA) of tabs (#x9)
								bevatten, indien aanwezig worden deze vervangen door spaties. Alle
								dubbele spaties worden vervangen door enkele spaties. Spaties aan
								het begin en eind worden verwijderd.
		
								Beschrijving:
								Berichtkenmerk een uniek nummer dat door Digipoort aan een aanlevering is toegekend.
							</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:normalizedString">
					<xsd:whiteSpace value="collapse"/>
					<xsd:maxLength value="256"/>
				</xsd:restriction>
			</xsd:simpleType>
	
			<xsd:simpleType name="kenmerkType">
				<xsd:annotation>
					<xsd:documentation>
						Element: kenmerkType
						Type: Tekst
						Maximale lengte: 40

						Normalisatie:
						Mag geen enters (#xD of #xA) of tabs (#x9)
						bevatten, indien aanwezig worden deze vervangen door spaties. Alle
						dubbele spaties worden vervangen door enkele spaties. Spaties aan
						het begin en eind worden verwijderd.

						Beschrijving:
						Kenmerk het
						nummer van het aangemaakte proces of bestaande proces.
						In een request voor afleveren BestaandProces moet het een reeds
						bestaand
						proces zijn.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:normalizedString">
					<xsd:whiteSpace value="collapse" />
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>


			<xsd:simpleType name="aanleverkenmerkType">
				<xsd:annotation>
					<xsd:documentation>
						Element: aanleverkenmerkType
						Type: Tekst
						Maximale
						lengte: 40

						Normalisatie:
						Mag geen enters (#xD of #xA) of tabs (#x9)
						bevatten, indien aanwezig worden deze vervangen door spaties. Alle
						dubbele spaties worden vervangen door enkele spaties. Spaties aan
						het begin en eind worden verwijderd.

						Beschrijving:
						Het aanleverkenmerk is een kenmerk dat door een gebruiker wordt
						bepaald ter	identicatie van het aanlever proces. 
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:normalizedString">
					<xsd:whiteSpace value="collapse" />
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="berichtsoortType">
				<xsd:annotation>
					<xsd:documentation>
						Element: berichtsoortType
						Type: Tekst
						Maximale
						lengte: 80

						Normalisatie:
						Mag geen enters (#xD of #xA) of tabs (#x9)
						bevatten,
						indien aanwezig worden deze vervangen door spaties. Alle
						dubbele
						spaties worden vervangen door enkele spaties. Spaties aan
						het begin
						en eind worden verwijderd.

						Beschrijving:
						Bericht soort
						moet een van de binnen de DigiPoort ondersteunde
						types
						zijn.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:normalizedString">
					<xsd:whiteSpace value="collapse" />
					<xsd:maxLength value="80" />
				</xsd:restriction>
			</xsd:simpleType>


			<xsd:complexType name="berichtinhoudType">
				<xsd:annotation>
					<xsd:documentation>
						Beschrijving:
						De berichtinhoud bevat het document van de af te leveren informatie.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="mimeType" nillable="false">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:whiteSpace value="collapse"/>
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="bestandsnaam" nillable="false">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:whiteSpace value="collapse"/>
								<xsd:maxLength value="80"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="inhoud" nillable="false">
						<xsd:simpleType>
							<xsd:restriction base="xsd:base64Binary">
								<xsd:maxLength value="20971520"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="identificatieNummer">
				<xsd:annotation>
					<xsd:documentation>
						Element: identificatieNummer
						Type: Nummer in
						combinatie met het type
						Maximale lengte: 20

						Normalisatie:
						Mag geen
						enters (#xD of #xA) of tabs (#x9)
						bevatten, indien aanwezig worden
						deze vervangen door spaties. Alle
						dubbele spaties worden vervangen
						door enkele spaties. Spaties aan
						het begin en eind worden
						verwijderd.

						Beschrijving:
						Is een uniek identieficatie nummer. Bevat
						het nummer plus de
						informatie om aan te geven wat het nummer
						inhoud.

						De typen die ondersteunt worden zijn:
						BSN, KvK, BTW, Fi en OIN
						
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="nummer" nillable="false">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:whiteSpace value="collapse" />
								<xsd:maxLength value="20" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="type" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="BSN" />
								<xsd:enumeration value="KvK" />
								<xsd:enumeration value="BTW" />
								<xsd:enumeration value="Fi" />
								<xsd:enumeration value="OIN" />
								<xsd:maxLength value="6" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="bijlagenType">
				<xsd:annotation>
					<xsd:documentation>
						Element: bijlagenType
						Type: Lijst met bijlagen.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="bijlage" type="tns:berichtinhoudType" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="foutLijstType">
				<xsd:annotation>
					<xsd:documentation>
						Element: foutLijstType
						Type: Lijst van fouten.
					</xsd:documentation>
				</xsd:annotation>			
				<xsd:sequence>
					<xsd:element name="fout" type="tns:foutType" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="foutType">
				<xsd:annotation>
					<xsd:documentation>
						Element: foutType
						Type: Combinatie van foutcode en foutomschrijving
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="foutCode" type="tns:foutCodeType" nillable="false"/>
					<xsd:element name="foutBeschrijving" type="tns:foutBeschrijvingType" nillable="false"/>
				</xsd:sequence>
			</xsd:complexType>			
			<xsd:simpleType name="foutCodeType">
				<xsd:annotation>
					<xsd:documentation>
						Element: foutCodeType
						Type: Tekst
						Maximale lengte:
						20

						Normalisatie:
						Mag geen enters (#xD of #xA) of tabs (#x9)
						bevatten,
						indien aanwezig worden deze vervangen door spaties. Alle
						dubbele
						spaties worden vervangen door enkele spaties. Spaties aan
						het begin
						en eind worden verwijderd.

						Beschrijving:
						Bevat de code van
						de opgetreden fout.				
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:normalizedString">
					<xsd:whiteSpace value="collapse" />
					<xsd:maxLength value="20" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:simpleType name="foutBeschrijvingType">
				<xsd:annotation>
					<xsd:documentation>
						Element: foutBeschrijvingType
						Type: Tekst
						Maximale lengte: 8192

						Normalisatie:
						Mag geen enters (#xD of #xA) of
						tabs (#x9) bevatten,
						indien aanwezig worden deze vervangen door
						spaties. Alle dubbele
						spaties worden vervangen door enkele spaties.
						Spaties aan het begin
						en eind worden verwijderd.

						Beschrijving:
						Bevat een omschrijving van de opgetreden fout. 				
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:normalizedString">
					<xsd:whiteSpace value="collapse" />
					<xsd:maxLength value="8192" />
				</xsd:restriction>
			</xsd:simpleType>			
		
			
			
</xsd:schema>
