src/main/resources/nl/clockwork/mule/ebms/wsdl/ebms.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Copyright 2011 Clockwork
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<wsdl:definitions 
	name="EbMS"
	targetNamespace="http://www.clockwork.nl/ebms/v1"
	xmlns:tns="http://www.clockwork.nl/ebms/v1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:eb="http://www.oasis-open.org/committees/ebxml-msg/schema/msg-header-2_0.xsd"
	xsi:schemaLocation="http://schemas.xmlsoap.org/soap/envelope/ http://www.oasis-open.org/committees/ebxml-msg/schema/envelope.xsd"
>

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.oasis-open.org/committees/ebxml-msg/schema/msg-header-2_0.xsd" schemaLocation="../xsd/msg-header-2_0.xsd" />
		</xsd:schema>    	
	</wsdl:types>

	<wsdl:message name="Message">
		<wsdl:part name="MessageHeader" element="eb:MessageHeader" />
		<wsdl:part name="SyncReply" element="eb:SyncReply" />
		<wsdl:part name="MessageOrder" element="eb:MessageOrder" />
		<wsdl:part name="AckRequested" element="eb:AckRequested" />
		<wsdl:part name="Manifest" element="eb:Manifest" />
	</wsdl:message>
	<wsdl:message name="MessageError">
		<wsdl:part element="eb:MessageHeader" name="MessageHeader" />
		<wsdl:part element="eb:ErrorList" name="ErrorList" />
	</wsdl:message>
	<wsdl:message name="Acknowledgment">
		<wsdl:part element="eb:MessageHeader" name="MessageHeader" />
		<wsdl:part element="eb:Acknowledgment" name="Acknowledgment" />
	</wsdl:message>
	<wsdl:message name="MessageStatusRequest">
		<wsdl:part element="eb:MessageHeader" name="RequestMessageHeader" />
		<wsdl:part element="eb:StatusRequest" name="StatusRequest" />
	</wsdl:message>
	<wsdl:message name="MessageStatusResponse">
		<wsdl:part element="eb:MessageHeader" name="ResponseMessageHeader" />
		<wsdl:part element="eb:StatusResponse" name="StatusResponse" />
	</wsdl:message>
	<wsdl:message name="Ping">
		<wsdl:part element="eb:MessageHeader" name="RequestMessageHeader" />
	</wsdl:message>
	<wsdl:message name="Pong">
		<wsdl:part element="eb:MessageHeader" name="ResponseMessageHeader" />
	</wsdl:message>
	<wsdl:portType name="EbMSPortType">
		<wsdl:operation name="Message">
			<wsdl:input message="tns:Message" />
		</wsdl:operation>
		<wsdl:operation name="MessageError">
			<wsdl:input message="tns:MessageError" />
		</wsdl:operation>
		<wsdl:operation name="Acknowledgment">
			<wsdl:input message="tns:Acknowledgment" />
		</wsdl:operation>
		<wsdl:operation name="MessageStatus">
			<wsdl:input message="tns:MessageStatusRequest" />
			<wsdl:output message="tns:MessageStatusResponse" />
		</wsdl:operation>
		<wsdl:operation name="Ping">
			<wsdl:input message="tns:Ping" />
			<wsdl:output message="tns:Pong" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EbMSSOAPBinding" type="tns:EbMSPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Message">
			<soap:operation soapAction="ebXML" />
			<wsdl:input>
				<mime:multipartRelated>
					<mime:part>
		 				<soap:header message="tns:Message" part="MessageHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />          
		 				<soap:header message="tns:Message" part="SyncReply" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" wsdl:required="false" />          
		 				<soap:header message="tns:Message" part="MessageOrder" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" wsdl:required="false" />          
		 				<soap:header message="tns:Message" part="AckRequested" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" wsdl:required="false" />          
						<soap:body parts="Message" part="Manifest" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />
					</mime:part>				
				</mime:multipartRelated>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="MessageError">
			<soap:operation soapAction="ebXML" />
			<wsdl:input>
 				<soap:header message="tns:MessageError" part="MessageHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />          
		 		<soap:header message="tns:MessageError" part="ErrorList" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />          
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="Acknowledgment">
			<soap:operation soapAction="ebXML" />
			<wsdl:input>
 				<soap:header message="tns:Acknowledgment" part="MessageHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />          
		 		<soap:header message="tns:Acknowledgment" part="Acknowledgment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" wsdl:required="false" />          
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="MessageStatus">
			<soap:operation soapAction="ebXML" />
			<wsdl:input>
 				<soap:header message="tns:MessageStatusRequest" part="RequestMessageHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />          
		 		<soap:body parts="MessageStatusRequest" part="StatusRequest" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />          
			</wsdl:input>
			<wsdl:output>
 				<soap:header message="tns:MessageStatusResponse" part="ResponseMessageHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />          
		 		<soap:body parts="MessageStatusResponse" part="StatusResponse" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />          
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Ping">
			<soap:operation soapAction="ebXML" />
			<wsdl:input>
 				<soap:header message="tns:Ping" part="RequestMessageHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />          
			</wsdl:input>
			<wsdl:output>
 				<soap:header message="tns:Pong" part="ResponseMessageHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal" />          
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EbMS">
		<wsdl:port binding="tns:EbMSSOAPBinding" name="EbMSPort">
			<soap:address location="http://www.clockwork.nl/ebms" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
